NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBwG4RJaYHC3Rce5VMPq1JNJLAPFWwdEf
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=freightmate-xxwc9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=freightmate-xxwc9
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=freightmate-xxwc9.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=302594896917
NEXT_PUBLIC_FIREBASE_APP_ID=y1:302594896917:web:2da55dbc4e33a984510a1c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id
